/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

/* Navvigarion Br */
.navbar br {
    color: black;
}

/* Top Navigation */
.top-bar {
    display: flex;
    justify-content: space-around;
    background-color: brown;
    height: 4vh;
    padding: 4px;
    align-items: center;
    cursor: pointer;
}

/* Navigation Links */
.top-bar li {
    list-style: none;
}

.top-bar .left {
    color: white;
    list-style: none;
}

/* Navigation Your Orders Link */
.top-bar .left .yourorders {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.top-bar .left .yourorders li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-bar .right {
    color: white;
    list-style: none;
}

/* Navigation Currency & Login/Register Links */
.top-bar .right .c-l-r {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    gap: 0 20px;
}

.top-bar .left .c-l-r li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Middle Navigation */
.middle-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    padding: 8px;
    top: 0;
    position: sticky;
}

/* Navigation Logo */
.middle-bar .nav-logo {
    display: flex;
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 780;
    cursor: pointer;
}

/* Logo Span */
.middle-bar .nav-logo span {
    color: brown;
    margin: 0 5px 0 30px;
}

/* Navigation Wishlist & Cart Items */
.middle-bar .w-c {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 90px;
    width: 32px;
    height: 20px;
}

/* Wishlist  Counter*/
.w-c .wishlist-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: -10px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

/* Cart Counter */
.w-c .cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: -10px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

/* Wishlist Icon */
.w-c div {
    display: flex;
    align-items: center;
    margin: 0 20px 0 15px;
}

.w-c div img {
    cursor: pointer;
}

/* Cart Icon */
.middle-bar .w-c img {
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

/* Bottom Navigation bar */
.bottom-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

/* Page Links */
.bottom-bar .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 50px;
}

.bottom-bar .nav-links li {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.nav-links hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: brown;
}